{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_doc %}
    <p>준비중입니다.</p>  
{% else %}
    <figure class="highcharts-figure">
        <div id="container1">
            <p>
                테스트용 입니다. 1
            </p>
        </div>
    </figure>

    <figure class="highcharts-figure">
        <div id="container2">
            <p>
                테스트용 입니다. 2
            </p>
        </div>
    </figure>

    <script>
        console.time('line');
        Highcharts.chart('container1', {
        
            chart: {
                zoomType: 'x'
            },
        
            title: {
                text: '환자의 실시간 EMG 신호 측정 세기 분석 그래프',
                align:'left'
            },
        
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<{headingTagName}>{chartTitle}</{headingTagName}><div>{chartSubtitle}</div><div>{chartLongdesc}</div><div>{xAxisDescription}</div><div>{yAxisDescription}</div>'
                }
            },
        
            tooltip: {
                valueDecimals: 2
            },
        
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats:{millisecond:'%M:%S.%L'}
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                data:{{value}},
                lineWidth: 0.5,
                name: 'EMG 신호세기',
                pointInterval: 0.5
            }]
        
        });
        console.timeEnd('line');
    </script>

    <script>
        console.time('line');
        Highcharts.chart('container2', {
        
            chart: {
                zoomType: 'x'
            },
        
            title: {
                text: '일주일간의 평균 그래프',
                align:'left'
            },
        
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<{headingTagName}>{chartTitle}</{headingTagName}><div>{chartSubtitle}</div><div>{chartLongdesc}</div><div>{xAxisDescription}</div><div>{yAxisDescription}</div>'
                }
            },
        
            tooltip: {
                valueDecimals: 2
            },
        
            xAxis: {
                categories: ['1회차','2회차','3회차','4회차','5회차']
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                data:{{value2}},
                lineWidth: 0.5,
                name: 'EMG 신호의 최댓값 평균 ',
                pointInterval: 1
            }]
            
        
        });
        console.timeEnd('line');
    </script>
{% endif %}
{% endblock %}